<div class="container">
<h1>Lista de personas</h1>
<table >
  <tr>
    <td rowspan="2">
      <ul class="list-group">
        <div *ngIf="verDatos">
          <app-persona [persona]='persona' *ngFor='let persona of personas'></app-persona>
        </div>
      </ul>
    </td>
    <td>
      <div>
      <app-d-per [dpersona]="dpersona" (cambiarPer)="dpersona = $event"></app-d-per>
    </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="form-check form-switch" (click)="mostrarPersonas()">
        <input class="form-check-input" type="checkbox" id="lista_personas" checked />
        <label class="form-check-label" for="lista_personas"
          >Ver Lista de las personas</label>
      </div>
      <b></b>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="datos_persona" />
        <label class="form-check-label" for=""
          >Ver Detalles de la persona</label>
      </div>
    </td>
  </tr>
</table>
</div>

