<div class="container">
<h1>Lista de personas</h1>
<table >
  <tr>
    <td rowspan="2">
      <ul class="list-group">
        <div *ngIf="verDatos">
          <app-persona [persona]='persona' *ngFor='let persona of personas' (click)="onSelect(persona)"></app-persona>
        </div>
      </ul>
    </td>
    <td>
      <div [ngStyle]="{'visibility': ver ? 'visible':'hidden'}">
              <app-d-per [dpersona]="dpersona"></app-d-per>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="form-check form-switch" >
        <input class="form-check-input" type="checkbox" id="lista_personas" checked (click)="mostrarPersonas()"/>
        <label class="form-check-label" for="lista_personas"
          >Ver Lista de las personas</label>
      </div>
      <b></b>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="datos_persona" checked (click)="mostrar()"/>
        <label class="form-check-label" for="datos_persona"
          >Ver Detalles de la persona</label>
      </div>
    </td>
  </tr>
</table>
</div>

